---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

pre {
  tab-size: 4;
  -moz-tab-size: 4;
}

.highlight {
  margin: 0;
  padding: 0.5em;
  font-family: monospace !important;

  font-size: 1.03em;
  line-height: 1;
}

.highlight.font-small {
  font-size: 0.8em !important;
}

.highlight.font-large {
  font-size: 1.2em !important;
}
